---
layout: layout.njk
title: (require Nathan)
---

<section class="text-center p-8 bg-gray-100">
    <div class="container mx-auto flex flex-col md:flex-row items-center">
        {% image "images/portrait.jpg", "Me!", "rounded-full w-48 h-48 mx-auto md:mx-0 md:mr-8" %}
        <div>
            <h1 class="text-4xl font-bold mt-4 md:mt-0">Hi, I'm Nathan Saritzky</h1>
            <p class="text-xl mt-2">I'm a software developer based in Seattle.</p>
            <!-- Add a brief catchy tagline or a sentence about your expertise -->
        </div>
    </div>
</section>
